*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f6fb;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    transition:.3s;
}

button:hover{
    opacity:.9;
}

input,
select,
textarea{
    outline:none;
}

table{
    border-collapse:collapse;
    width:100%;
}

img{
    max-width:100%;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#f1f5f9;
}