*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

.layout{
  display:flex;
  min-height:100vh;
}

.main-content{
  flex:1;
  padding:30px;
  background:#f4f7fc;
  overflow-y:auto;
}